
.forecastWeather{
    width: 90%;
    background-color: #ffffff;
    border: solid #000000 1px;
    margin-top: 5px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    
}

@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:1000px}
}

.dayInWeek h1{
    font-size: 45px;
}

.hourInDay{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    -webkit-animation: expand 0.5s;
    
}

.hourInDay-all{
    margin-right: 250px;
    margin-left: 35px;
    text-align: center;
}

.hourInDay-all p{
    font-size: 20px;
}


.hourInDay-all p span{
    font-size: 20px;
    font-weight: bold;
}

.hourInDay-all img{
    height: 100px;
    width: 100px;
}

.nameOfDay{
    display: flex;
    justify-content: center;
}

#customScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#customScroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#customScroll::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


