
.forecastWeather{
    width: 90%;
    background-color: #ffffff;
    border: solid #000000 1px;
    margin-top: 5px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    
}

@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:1000px}
}

.dayInWeek h1{
    font-size: 45px;
}

.hourInDay{
    display: flex;
    width: 100%;
    -webkit-animation: expand 0.5s;
}

.hourInDay-all{
    margin-right: 250px;
    margin-left: 35px;
    text-align: center;
}

.hourInDay-all p{
    font-size: 20px;
}


.hourInDay-all p span{
    font-size: 20px;
    font-weight: bold;
}

.hourInDay-all img{
    height: 100px;
    width: 100px;
}

.nameOfDay{
    display: flex;
    justify-content: center;
}


